.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  margin: 0 0.5vmax;
}

.img {
  height: 1.5vmax;
  cursor: pointer;
}

.list,
.listActive_ar,
.listActive_en {
  position: absolute;
  top: 110%;
  background-color: #fff;
  border-radius: 0.3vmax;
  z-index: 20;
  transition: opacity 0.2s ease-in-out;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.list {
  opacity: 0;
  min-height: 0;
  min-width: 0;
  border: none;
  visibility: hidden;
}
.listActive_ar,
.listActive_en {
  opacity: 1;
  min-height: 5vmax;
  max-height: 8vmax;
  min-width: 8vmax;
  border: 0.2vmax #002339 solid;
  visibility: visible;
}
.listActive_ar {
  left: 50%;
}
.listActive_en {
  right: 0%;
}

.option {
  cursor: pointer;
  font-size: 0.9vmax;
  margin: 0.25vmax;
  background-color: #002339;
  min-width: 90%;
  color: #fff;
  text-align: center;
  font-weight: 500;
  padding: 0.3vmax 0.15vmax;
  border: 0.15vmax #fff solid;
  border-radius: 0.3vmax;
  transition: border-color 0.2s ease-in-out;
}

.option:hover {
  border-color: rgb(0, 0, 0);
}
