.container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  position: relative;
}
.paramsContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.9vmax;
  font-weight: 500;
  height: 100%;
  padding: 0 0.5vmax;
  color: rgb(80, 80, 80);
}
.paramsContainer span {
  cursor: pointer;
}

.img {
  height: 1vmax;
}
.pageName {
  font-size: 1vmax;
  font-weight: 600;
  height: 100%;
  padding: 0 0.5vmax;
}
