.app {
  height: 100%;
  width: 100%;
}

.sideExpanded {
  min-width: 15vmax !important;
}

.secondSideCollapsed {
  position: relative;
  opacity: 0;
  width: 0%;
  height: 100%;
  background-color: rgba(240, 240, 240, 0.8);
  transition: all 0.2s ease-in-out;
  visibility: hidden;
}

.secondSideExpanded,
.secondSideExpandedAr {
  visibility: visible;
  transition: all 0.2s ease-in-out;
  opacity: 1;
  width: 15vmax;
  height: 100%;
  background-color: rgba(240, 240, 240, 0.8);
  position: absolute;
  left: 4vmax;
  z-index: 998;
}
.secondSideExpandedAr {
  right: 4vmax;
  left: 0;
}

.secondSidePinned {
  position: relative !important;
  left: 0% !important;
  right: 0% !important;
}

.pinnedImg {
  transform: rotate(-45deg);
}
