.flexCenterRow {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.flexCenterColumn {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.scroll {
  overflow: scroll;
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
  transition: all 0.2s ease-in-out;
  scroll-behavior: smooth;
}
.scroll::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}

.lang_ar {
  direction: rtl;
}

.lang_en {
  direction: ltr;
}

.buttonTranslateHover {
  transition: all 0.2s ease-in-out;
  box-shadow: rgba(0, 0, 0, 0.4) 3.95px 3.95px 5.6px;
}
.buttonTranslateHover:hover {
  transform: translateX(-0.15vmax) translateY(-0.15vmax);
  box-shadow: rgba(0, 0, 0, 0.5) 5.95px 5.95px 8.6px;
}

.arFont {
  font-family: arabic-font, roboto, Calibri;
  direction: rtl;
}

.enFont {
  font-family: roboto, Calibri;
  direction: ltr;
}

.gridAllColumns {
  grid-column-start: 1;
  grid-column-end: -1;
}
.gridAllRows {
  grid-row-start: 1;
  grid-row-end: -1;
}

.topBarList {
  margin: 0;
  position: absolute;
  padding: 0.3vmax 0.1vmax;
  top: 102%;
  background-color: #fff;
  color: #000;
  border-radius: 0.3vmax;
  box-shadow: rgba(0, 0, 0, 0.3) 3.95px 3.95px 5.6px;
  transition: all 0.2s ease-in-out;
}

.topBarListActive {
  opacity: 1;
  visibility: visible;
}
