.homepageContainer {
  background: rgb(210, 210, 210);
  background: linear-gradient(
    90deg,
    rgba(230, 230, 230, 1) 0%,
    rgba(240, 240, 240, 1) 35%,
    rgba(255, 255, 255, 1) 100%
  );
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}

.loginSection {
  direction: ltr;
  height: 70%;
  width: 60%;
  background: rgb(75, 108, 159);
  background: linear-gradient(
    0deg,
    rgba(75, 108, 159, 1) 24%,
    rgba(78, 39, 129, 1) 60%,
    rgba(90, 39, 129, 1) 100%
  );
  border-radius: 0.5vmax;
  box-shadow: rgba(0, 0, 0, 0.4) 3.95px 3.95px 5.6px;
  /* Grid Styling */
  display: grid;
  grid-template-columns: 40% 60%;
  grid-template-rows: 15% 65% 20%;
  align-self: center;
}

.languagesContainer {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 0 2vmax;
}

.languageOption {
  margin: 0 1vmax;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}
.languageOption:hover {
  transform: translateY(-0.2vmax);
}
.languageOption:hover .languageText {
  color: rgb(253, 235, 135);
}
.languageOption:hover .languageImgWrapper {
  background-color: rgb(253, 235, 135);
}

.languageImgWrapper {
  position: relative;
  background-color: #fff;
  border-radius: 50%;
  height: 2.4vmax;
  width: 2.4vmax;
  transition: all 0.2s ease-in-out;
}
.languageImg {
  height: 2vmax;
  width: 2vmax;
}

.languageText {
  font-size: 0.8vmax;
  color: #fff;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.illustrationContainer {
  width: 100%;
  height: 100%;
  position: relative;
}

.illustration {
  height: 15vmax;
}

.appLogo {
  width: 15vmax;
}
