.gridContainer {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 7% 86% 7%;
  position: relative;
  height: 100%;
  width: 100%;
  place-items: center;
}

.search {
  height: 100%;
  width: 100%;
  /* background-color: gold; */
  /* visibility: hidden; */
}
.pages {
  height: 100%;
  width: 100%;
  background-color: rgb(0, 89, 255);
  visibility: hidden;
}

.tableContainer {
  position: relative;
  max-height: 100%;
  width: 100%;
  font-size: 0.9vmax;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  border-radius: 1vmax;
  box-shadow: rgba(14, 30, 37, 0.32) 0px 2px 4px 0px,
    rgba(14, 30, 37, 0.42) 0px 2px 16px 0px;
  padding: 0vmax 1vmax;
  /* border: 0.3vmax #003d65 solid; */
}

.table {
  width: 100%;
  text-align: center;
  list-style: none;
  padding: 0;
  margin: 0;
  position: relative;
  /* border-collapse: collapse; */
}
.table li {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1vmax 0;
  padding: 0.5vmax 0.2vmax;
  border-radius: 0.2vmax;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 4px;
  font-weight: 600;
  opacity: 0.8;
  transition: all 0.2s ease-in-out;
  height: 3vmax;
}
.table li:hover {
  opacity: 1;
  box-shadow: rgba(0, 0, 0, 0.26) 2px 4px 6px;
}
.table li:nth-child(odd) {
  background-color: #e3e3e3;
}
.table li:nth-child(even) {
  background-color: rgb(255, 255, 255);
}
.table li {
  overflow: scroll;
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
  transition: all 0.2s ease-in-out;
  scroll-behavior: smooth;
}
.table li ::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}
.titles {
  position: sticky !important;
  background-color: #002b47 !important;
  color: #fff !important;
  font-size: 1vmax !important;
  font-weight: 500 !important;
  opacity: 1 !important;
  border-radius: 0.7vmax !important;
  top: 0px;
  z-index: 101;
}

.table li span {
  display: flex;
  justify-content: center;
  align-items: center;
}

.numbers {
  padding: 0 1vmax;
}

.edit,
.delete {
  background-color: #002b47;
  border-radius: 4.2vmax;
  color: #fff;
  border: none;
  outline: none;
  padding: 0.3vmax 1vmax;
  min-width: 80%;
  font-size: 0.9vmax;
  transition: background-color 0.2s ease-in-out;
}
.delete {
  background-color: #720000;
}
.delete:hover {
  background-color: #b15f12;
}
.edit:hover {
  background-color: #006556;
}

.addNewButton {
  position: absolute;
  width: fit-content;
  font-size: 0.9vmax;
  padding: 0.3vmax 1vmax;
  left: 84%;
  border-radius: 0.25vmax;
  background-color: #002b47;
  color: #fff;
  outline: none;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.4) 2px 2px 3px;
  transition: background-color 0.2s ease-in-out;
  white-space: nowrap;
}
.addNewButton:hover {
  background-color: rgb(0, 100, 0);
}
.addNewButton:hover img {
  transform: rotate(90deg);
}
.addNewButton img {
  height: 1vmax;
  width: 1vmax;
  margin: 0 0.3vmax;
  transition: transform 0.2s ease-in-out;
}
