.notFoundContainer {
  height: 100%;
  width: 100%;
  position: relative;
}
.notFoundImg {
  height: 35vmax;
}

.notFoundText {
  font-size: 2vmax;
  color: #01588e;
}

.homepageLink {
  margin-top: 1vmax;
  font-size: 1.3vmax;
  padding: 0.2vmax 1vmax;
  background-color: #01588e;
  color: #fff;
  border-radius: 0.4vmax;
}
